<!DOCTYPE html>
<html>
<head>
	<title>Catfood</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<div class="header">
		<div class="header-content">
			<div class="logo"><%= image_tag('logo.png') %></div>
		</div>
	</div>

	<%= yield %>

</body>
</html>
